// Text
$color-primary: #499A18;
$color-additional: #E06733;
$color-text-dark: #636060;
$color-text-light: #717171;
$color-border: #E3E1D5;
$color-heading: #000000;
$color-links-nav: #010201;

// Background
$color-background: #EDF2EC;
$color-light: #fff;

// Buttons
$color-acordeon-btn-active: #8BA07E;
$color-acordeon-btn-unactive: #D9D9D9;
$color-btn-unactive: #AEA1A1;
$color-btn-active: #8BA07E;

// Accordeon
$color-acordeon: #EDF2EC;
$color-acordeon-active: #D6E7D2;

// Dropdown
$color-dropdown: #DCE9D9;
$color-dropdown-active: #C1E698;

// Burger
$color-burger: #717171;

$content-width: 1440px;
$laptop-width: 1023.98px;
$tablet-width: 767.98px;
$mobile-width: 414.98px;