@mixin flex-between () {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center () {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@mixin flex-column ($align, $display: flex, $direction: column, $wrap: wrap) {
    display: $display;
    flex-wrap: $wrap;
    flex-direction: $direction;
    align-items: $align;
}

@mixin font ($size, $height, $weight, $style: normal) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    font-style: $style;
}


@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >* {
        flex-basis: $width;
    }
}

@mixin grid-template-columns($cols, $rows, $col-gap, $row-gap) {
    display: grid;
    -ms-grid-columns: $cols;
    -ms-grid-row: $rows;
    grid-template-columns: repeat($cols, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    grid-column-gap: $row-gap;
    grid-row-gap: $col-gap;
}

@mixin media-laptop {
    @media (max-width: $content-width) {
        @content;
    }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin media-mobile {
    @media (max-width: $mobile-big-width) {
        @content;
    }
}

@mixin media-mobile-small {
    @media (max-width: $mobile-small-width) {
        @content;
    }
}