.accordion {
  width: 33.2rem;
  border: 1px solid $color-border;
  border-radius: 2rem;
  padding: 3.4rem 4.1rem;
  @include flex-column(center);
  gap: 3rem;
  @include media-mobile{
    margin: 0 auto;
    padding: 2.9rem 2.2rem;
    width: 22.4rem;
    gap: 1.2rem;
  }
}

.accordion__item {
  @include flex-between();
  background-color: $color-acordeon;
  padding: 0 4rem;
  border-radius: 2rem;
  width: 100%;
  cursor: pointer;
  transition: background-color, box-shadow 0.2s ease-in-out;
  
  &:hover .icon-circle__light {
    background-color: $color-btn-unactive;
  }

  &:hover .icon-arrow__dark {
    background-image: url("/src/img/svg/arrow-light.svg");
  }

  &:hover{
    box-shadow: $color-text-light 0.3rem 0.3rem 10px;
    background-color: $color-acordeon-active;
  }

  @include media-mobile{
    padding: 0 3rem;
  }

  .prices__name {
    margin: 1.6rem 0;
  }

  .price_btn {
    display: inline-block;
  }
}

.price-card {
  padding: 1.6rem 3.8rem 1.2rem;
  background: $color-acordeon-active;
  border-radius: 2rem;
  transition: box-shadow 0.2s ease-in-out;

  &:hover{
    box-shadow: $color-text-light 0.3rem 0.3rem 10px;
  }

  @include media-mobile{
    padding: 1.6rem 3rem 1.2rem;
  }

  &__name{
    @include flex-between;
    cursor: pointer;

    &::after{
      content: "";
      margin: 0.8rem 0.8rem 0.6rem 0;
      background-color: $color-btn-active;
      height: 0.5px;
      width:100%
    }
  }

  &__dscrptn{
    @include font(1rem, 1rem, 300);
    color: $color-text-light;
    margin-bottom: 0.6rem;
  }

  h5{
    margin: 0 0 0.8rem;
    font-weight: 400;
  }

  &__price_span{
    color: $color-additional;
    font-weight: 700;

    &-big{
      font-size: 1.6rem;
      color: $color-additional;
      font-weight: 700;
    }
  }

  &__order-button{
    display: inline-flex;
    padding: 0.3rem 2rem;
    background-color:$color-light;
    border-radius: 1rem;
    
  }

  &__order-link{
    @include font( 1.4rem, 2rem, 700);
    color: $color-text-light;
  }

  .icon-arrow__light{
    transform: rotate(180deg);
  }  
}

.accordion-button-close{
  display: none;
}

.accordion-description-close{
  display: none;
}

