.accordion {
  width: $accordion-width;
  border: 1px solid $color-off-white;
  border-radius: $accordion-border-radius;
  padding: $accordion-padding;
  @include flex-column(center);
  gap: $accordion-gap;
  @include media-mobile {
    margin: 0 auto;
    padding: $accordion-mobile-padding;
    width: $accordion-mobile-width;
    gap: $accordion-mobile-gap;
  }
}

.accordion__item {
  @include flex-between();
  background-color: $color-accordion;
  padding: $accordion-item-padding;
  border-radius: $accordion-border-radius;
  width: 100%;
  cursor: pointer;
  transition: background-color, box-shadow 0.2s ease-in-out;

  &:hover .icon-circle__light {
    background-color: $color-btn-inactive;
  }

  &:hover .icon-arrow__dark {
    background-image: url("/src/img/svg/arrow-light.svg");
  }

  &:hover {
    box-shadow: $color-gray-medium 0.3rem 0.3rem 10px;
    background-color: $color-accordion-active;
  }

  @include media-mobile {
    padding: $accordion-item-mobile-padding;
  }

  .prices__name {
    margin: $accordion-item-name-margin;
  }

  .price_btn {
    display: inline-block;
  }
}

.icon-btn {
  background: transparent;
}

.icon-btn .accordion__item[aria-expanded="true"] .icon-arrow {
  transform: rotate(180deg);
}

.price-card .icon-arrow {
  transform: rotate(180deg);
}

.accordion__item[hidden] {
  display: none;
}

.price-card {
  padding: $price-card-padding;
  background: $color-accordion-active;
  border-radius: $price-card-border-radius;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: $color-gray-medium 0.3rem 0.3rem 10px;
  }

  @include media-mobile {
    padding: $price-card-mobile-padding;
  }

  &__name {
    @include flex-between;
    cursor: pointer;

    &::after {
      content: "";
      margin: $price-card-name-margin;
      background-color: $color-btn-active;
      height: $price-card-line-height;
      width: 100%;
    }
  }

  &__dscrptn {
    @include font(1rem, 1rem, 300);
    color: $color-gray-medium;
    margin-bottom: $price-card-dscrptn-margin;
  }

  h5 {
    margin: $price-card-h5-margin;
    font-weight: 400;
  }

  &__price_span {
    color: $color-orange-accent;
    font-weight: 700;

    &-big {
      font-size: 1.6rem;
      color: $color-orange-accent;
      font-weight: 700;
    }
  }

  &__order-button {
    display: inline-flex;
    padding: $price-card-button-padding;
    background-color: $color-light;
    border-radius: $price-card-button-border-radius;
  }

  &__order-link {
    @include font(1.4rem, 2rem, 700);
    color: $color-gray-medium;
  }
}

.price-card[hidden] {
  display: none;
  opacity: 0;
}
