// Burger from span and pseudo-elements

// Line as placeholder
%burger-line {
  content: "";
  background-color: $color-burger;
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 3px;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 24px;
  cursor: pointer;
  z-index: 10;

  @include media-tablet {
    display: inline-block;
  }

  &::before {
    @extend %burger-line;
    top: 0;
    left: 0;
  }

  &::after {
    @extend %burger-line;
    bottom: 0;
    left: 0;
  }
}

.burger__line {
  @extend %burger-line;
  top: calc(50% - 1px);
  transition: rotation 1s;
}

.burger__move {
  position: fixed;
  top: 3.6rem;
  right: 2.5rem;

  .burger__line{
    display:none;
  }
  &::after{
    rotate: 45deg;
    bottom: 0.65rem;
  }
  
  &::before{
    rotate: 135deg;
    top:1.6rem;
  }
    
}