.button {
  width: $button-width;
  height: $button-height;
  font-family: $font-family-main;
  @include flex-center();

  @include font(2rem, 2.6rem, 400);
  border: 1px solid $color-orange-accent;
  border-radius: $button-border-radius;
  @extend %transition;

  &:hover {
    box-shadow: $color-gray-medium 0.3rem 0.3rem 1rem;
  }

  @include media-mobile {
    @include font(1.5rem, 1.9rem, 400);
    width: $button-mobile-width;
    height: $button-mobile-height;
  }

  // Learn more modification
  &--more {
    width: $button-more-width;
    height: $button-more-height;
    @include font(1.6rem, 2rem, 400);
    background-color: $color-background-light;
    border: $color-orange-accent 0.2rem solid;
    color: $color-black;
    text-transform: uppercase;
    border-radius: $button-more-border-radius;

    @include media-mobile {
      width: $button-more-mobile-width;
      height: $button-more-mobile-height;
      @include font(1rem, 2rem, 400);
    }

    &:hover {
      color: $color-light;
      background-color: $color-orange-accent;
    }
  }

  // Contact us modification
  &--contact {
    background-color: $color-light;
    color: $color-orange-accent;
    font-weight: bold;
    font-family: "Inika";

    &:hover {
      color: $color-light;
      background-color: $color-orange-accent;
    }

    @include media-laptop {
      margin-bottom: $prices-button-margin-bottom-laptop;
    }

    @include media-mobile {
      margin-bottom: 0rem;
    }
  }
}
