.logo-svg {
  cursor: pointer;

  &:hover {
    .logo-path {
      fill: $color-orange-accent;
    }

    .leaf-path {
      fill: $color-green-primary;
    }
  }
}

.logo-path,
.leaf-path {
  @extend %transition;
}
