// Accordion

$color-accordion: #edf2ec;
$color-accordion-active: #d6e7d2;
$accordion-width: 33.2rem;
$accordion-padding: 3.4rem 4.1rem;
$accordion-gap: 3rem;
$accordion-border-radius: 2rem;
$accordion-mobile-width: 22.4rem;
$accordion-mobile-padding: 2.9rem 2.2rem;
$accordion-mobile-gap: 1.2rem;
$accordion-item-name-margin: 1.6rem 0;

// Accordion item
$accordion-item-padding: 0 4rem;
$accordion-item-mobile-padding: 0 3rem;
