// Buttons
// Btn color
$color-accordion-btn-active: #8ba07e;
$color-accordion-btn-inactive: #d9d9d9;
$color-btn-inactive: #aea1a1;
$color-btn-active: #8ba07e;
//Btn size
$button-width: 16.1rem;
$button-height: 5rem;
$button-border-radius: 0.5rem;
// Btn more size
$button-more-width: 15.8rem;
$button-more-height: 4.4rem;
$button--more-border-radius: 1rem;
//Btn size adoptive
$button-mobile-width: 12.1rem;
$button-mobile-height: 3.5rem;
$button-more-mobile-width: 10rem;
$button-more-mobile-height: 3.4rem;

// Outline
$outline-color: #8ba07e;
$outline-color-rgb: rgb(139, 160, 126);
$outline-opacity: 0.4;
$outline-width: 2px;
$outline-offset: 2px;
