// City card
$city-card-padding: 1.7rem 3rem 3.2rem 3.2rem;
$city-card-margin-top: 4.7rem;
$city-card-border-radius: 2rem;
$city-card-tablet-padding: 2.3rem 3.6rem;
$city-card-tablet-margin-top: 4.9rem;

// City card button
$city-card-button-padding: 0.5rem 4.5rem;
$city-card-button-margin-top: 1.8rem;
$city-card-button-border-radius: 0.5rem;

// Price card
$prices__card-padding: 1.6rem 3.8rem 1.2rem;
$prices__card-mobile-padding: 1.6rem 3rem 1.2rem;
$prices__card-border-radius: 2rem;
$prices__card-name-margin: 0.8rem 0.8rem 0.6rem 0;
$prices__card-line-height: 0.5px;
$prices__card-dscrptn-margin: 0.6rem;
$prices__card-h5-margin: 0 0 0.8rem;
$prices__card-button-padding: 0.3rem 2rem;
$prices__card-button-border-radius: 1rem;
