// City card
$city-card-padding: 1.7rem 3rem 3.2rem 3.2rem;
$city-card-margin-top: 4.7rem;
$city-card-border-radius: 2rem;
$city-card-tablet-padding: 2.3rem 3.6rem;
$city-card-tablet-margin-top: 4.9rem;

// City card button
$city-card-button-padding: 0.5rem 4.5rem;
$city-card-button-margin-top: 1.8rem;
$city-card-button-border-radius: 0.5rem;
