// Text colors
$color-green-primary: #499a18;
$color-orange-accent: #e06733;
$color-gray-dark: #636060;
$color-gray-medium: #717171;
$color-off-white: #e3e1d5;
$color-black: #000000;
$color-dark-green: #010201;

// Background
$color-background-light: #edf2ec;
$color-light: #fff;
