//Menu
$nav-link-gap: 4.723rem;
$nav-link-gap-tablet: 1rem;
$nav-tablet-width: 32rem;
$nav-padding-top: 15rem;
$overlay-opacity: 0.5;

$line-height-nav: 5rem;
$font-size-nav-tablet: 2.5rem;
$line-height-nav-tablet: 3rem;

// Logo

$logo-margin-bottom: 0.45rem;

// Burger
$color-burger: #717171;
$burger-width: 40px;
$burger-height: 24px;
$burger-line-height: 2px;
$burger-transition-time: 0.3s;
$burger-line-radius: 3px;
