// Buttons
// Btn color
$color-accordion-btn-active: #8ba07e;
$color-accordion-btn-inactive: #d9d9d9;
$color-btn-inactive: #aea1a1;
$color-btn-active: #8ba07e;
//Btn size
$button-width: 16.1rem;
$button-height: 5rem;
$button-border-radius: 0.5rem;
// Btn more size
$button-more-width: 15.8rem;
$button-more-height: 4.4rem;
$button-more-border-radius: 1rem;
//Btn size adoptive
$button-mobile-width: 12.1rem;
$button-mobile-height: 3.5rem;
$button-more-mobile-width: 10rem;
$button-more-mobile-height: 3.4rem;

// Outline
$outline-color: #8ba07e;
$outline-color-rgb: rgb(139, 160, 126);
$outline-opacity: 0.4;
$outline-width: 2px;
$outline-offset: 2px;

// Accordeon
$color-accordion: #edf2ec;
$color-accordion-active: #d6e7d2;

// Dropdown
$color-dropdown: #dce9d9;
$color-dropdown-active: #c1e698;

$dropdown-button-padding: 0.5rem 3rem 0.5rem 2rem;
$dropdown-button-width: 45rem;
$dropdown-button-mobile-width: 30rem;
$dropdown-button-mobile-padding: 0.5rem 1.3rem 0.5rem 2rem;
$dropdown-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

// Dropdown list
$dropdown-list-gap: 0.6rem;
$dropdown-list-padding: 2.7rem 5rem 2.5rem 2.8rem;

// City card
$city-card-padding: 1.7rem 3rem 3.2rem 3.2rem;
$city-card-margin-top: 4.7rem;
$city-card-border-radius: 2rem;
$city-card-tablet-padding: 2.3rem 3.6rem;
$city-card-tablet-margin-top: 4.9rem;

// City card button
$city-card-button-padding: 0.5rem 4.5rem;
$city-card-button-margin-top: 1.8rem;
$city-card-button-border-radius: 0.5rem;

// Burger
$color-burger: #717171;

//Burger
$burger-width: 40px;
$burger-height: 24px;
$burger-line-height: 2px;
$burger-transition-time: 0.3s;
$burger-line-radius: 3px;

// Accordion
$accordion-width: 33.2rem;
$accordion-padding: 3.4rem 4.1rem;
$accordion-gap: 3rem;
$accordion-border-radius: 2rem;
$accordion-mobile-width: 22.4rem;
$accordion-mobile-padding: 2.9rem 2.2rem;
$accordion-mobile-gap: 1.2rem;
$accordion-item-name-margin: 1.6rem 0;

// Accordion item
$accordion-item-padding: 0 4rem;
$accordion-item-mobile-padding: 0 3rem;

// Price card
$price-card-padding: 1.6rem 3.8rem 1.2rem;
$price-card-mobile-padding: 1.6rem 3rem 1.2rem;
$price-card-border-radius: 2rem;
$price-card-name-margin: 0.8rem 0.8rem 0.6rem 0;
$price-card-line-height: 0.5px;
$price-card-dscrptn-margin: 0.6rem;
$price-card-h5-margin: 0 0 0.8rem;
$price-card-button-padding: 0.3rem 2rem;
$price-card-button-border-radius: 1rem;

// Icon sizes
$icon-circle-size: 16px;
$icon-circle-radius: 10px;
$icon-arrow-width: 6px;
$icon-arrow-height: 4px;
$icon-mobile-margin: 0.9rem;
