// Main breakpoints
$content-width: 1440px;
$laptop-width: 1024.98px;
$tablet-width: 767.98px;
$mobile-width: 425.98px;

//additional breakpoints
$footer-tablet-breakpoint: 900px;
$dropdown-tablet-breakpoint: 500px;

// Grid columns
$column-4-width: 21%;
$column-3-width: 30%;
$column-2-width: 45%;
$column-2-width-laptop: 52%;

// Container
$wrapper-padding-desktop: 0 11rem;
$wrapper-padding-laptop: 0 5rem;
$wrapper-padding-tablet: 0 2.5rem;
