// Header
$header-padding-desktop: 4.2rem;
$header-padding-laptop: 3.6rem;
$header-logo-margin-bottom: 0.45rem;

//Navigation
$nav-link-gap: 4.723rem;
$nav-link-gap-tablet: 1rem;
$nav-tablet-width: 32rem;
$nav-padding-top: 15rem;
$overlay-opacity: 0.5;
// Nav typo
$line-height-nav: 5rem;
$font-size-nav-tablet: 2.5rem;
$line-height-nav-tablet: 3rem;

// About section
$about-desktop-padding: 9.4rem 0;
$about-laptop-padding: 4rem 0 9.5rem;
$about-mobile-padding: 3rem 0;
$about-heading-margin-desktop: 6.6rem 0 4rem;
$about-heading-margin-laptop: 0 0 5.2rem;
$about-heading-margin-mobile: 0 0 1.6rem;
$about-paragraph-margin-laptop: 0 0 7rem;
$about-image-max-width: 38%;
$about-image-max-width-laptop: 37%;
$about-image-max-width-mobile: 44%;

// Service section
$service-desktop-padding: 4rem 0 12rem;
$service-laptop-padding: 6rem 0 7rem;
$service-mobile-padding: 3rem 0 2.7rem;
$service-wrapper-margin-bottom: 8rem;
$service-wrapper-margin-bottom-laptop: 4rem;
$service-heading-margin-bottom-laptop: 4rem;
$service-buttons-gap-laptop: 3.8rem;
$service-buttons-gap-tablet: 1rem;

$service-wrapper-max-width: 100.7rem;

$service-heading-max-width: 30rem;
$service-heading-max-width-mobile: 20rem;

$service-button-width-tablet: 12.1rem;
$service-button-height-tablet: 3.5rem;

$service-gallery-padding-mobile: 0 2.5rem;

//grid params
$grid-column-gap-desktop: 5.5rem;
$grid-row-gap-desktop: 11.5rem;
$grid-column-gap-laptop: 3.8rem;
$grid-row-gap-laptop: 10.6rem;
$grid-column-gap-tablet: 3.8rem;
$grid-row-gap-tablet: 4rem;
$grid-column-gap-mobile: 3.2rem;
$grid-row-gap-mobile: 0;
$grid-item-border-radius: 2rem;
$grid-item-hover-shadow: 0.5rem 0.5rem 1rem;
$grid-item-hover-scale: 1.01;
$grid-item-border-radius: 2rem;
$grid-item-hover-shadow: 0.5rem 0.5rem 1rem;
$grid-item-hover-scale: 1.01;

$service-image-height: 35rem;
$service-image-border-radius-top: 2rem 2rem 0 0;
$service-image-border-radius-bottom: 0 0 2rem 2rem;

$description-padding-desktop: 0 1rem;
$description-padding-laptop: 0 3.8rem;
$service-pick-name-margin: 1rem 0;
$service-pick-description-margin-bottom: 3.6rem;
$service-pick-description-margin-bottom-laptop: 2rem;

// Prices section
$prices-desktop-padding: 4rem 0 11rem;
$prices-laptop-padding: 4rem 0 8.5rem;
$prices-mobile-padding: 2.5rem 0 4rem;
$prices-heading-margin: 0 0 5.5rem;
$prices-heading-padding-left: 1rem;
$prices-heading-margin-mobile: 0 0 3.5rem;
$prices-rightside-max-width-desktop: 42.5rem;
$prices-rightside-max-width-laptop: 30rem;
$prices-rightside-gap: 4rem;
$prices-rightside-margin-top-laptop: 10rem;
$prices-rightside-margin-top-tablet: 4rem;
$prices-rightside-margin-top-mobile: 1.9rem;
$prices-subheading-margin-bottom-laptop: 2.6rem;
$prices-subheading-margin-bottom-mobile: 1.8rem;
$prices-button-margin-bottom-laptop: 3.4rem;
$prices-image-max-width: 16rem;

// Contacts section
$contacts-desktop-padding-top: 5.3rem;
$contacts-laptop-padding-top: 4rem;
$contacts-mobile-padding: 2.5rem 1.5rem 0;
$contacts-laptop-gap: 25rem;
$contacts-mobile-gap: 13.2rem;
$contacts-image-width: 33.2%;
$contacts-image-width-laptop: 30%;
$contacts-image-width-mobile: 33.4%;
$contacts-heading-margin: 0.7rem 0 3.4rem;
$contacts-heading-margin-laptop: 0 0 10rem;
$contacts-heading-margin-mobile: 0 0 4rem;
$contacts-wrapper-width-desktop: 58%;
$contacts-wrapper-width-laptop: 67.4%;
$contacts-wrapper-width-mobile: 100%;

// Footer
$footer-desktop-padding: 4rem 0;
$footer-laptop-padding: 3.3rem 0 2rem;
$footer-mobile-padding: 2.2rem 0 1rem;

$copyright-gap-desktop: 2rem;
$copyright-gap-mobile: 1rem;
$links-gap-desktop: 2.4rem;
$links-gap-tablet: 2.7rem;
$links-gap-mobile: 1.2rem;

$copyright-icon-height-desktop: 32px;
$copyright-icon-height-mobile: 24px;
$copyright-icon-margin: 5px;
