// Typography
$font-family-main: "Inter", Verdana, sans-serif;
$font-family-secondary: "Inika", "Bitstream Vera Serif", serif;

// Font sizes
$font-size-base: 1.6rem;
$font-size-small: 1.2rem;
$font-size-h1: 4.5rem;
$font-size-h2: 4rem;
$font-size-h3: 2rem;
$font-size-h4: 2rem;
$font-size-h5: 1.2rem;

// Line heights
$line-height-base: 2rem;
$line-height-h1: 5rem;
$line-height-h2: 5.2rem;
$line-height-h3: 2rem;
$line-height-h4: 4rem;
$line-height-h5: 2rem;

// Font weights
$font-weight-normal: normal;
$font-weight-bold: bold;

// Responsive typography
$font-size-h1-laptop: 3.5rem;
$font-size-h1-tablet: 2.5rem;

$font-size-h2-laptop: 3.5rem;
$font-size-h2-mobile: 2.5rem;

$font-size-h3-mobile: 1.5rem;

$line-height-h1-laptop: 5rem;
$line-height-h1-tablet: 3.5rem;

$line-height-h2-laptop: 4.5rem;
$line-height-h2-mobile: 3.257rem;
