.about {
    padding: 9.4rem 0;
    background-color: $color-light;

    @include media-laptop {
        padding: 4rem 0 9.5rem;
    }

    @include media-mobile {
        padding: 2.9rem 0;
    }
}

.about__wrapper{
	@include media-laptop{
		flex-direction: column;
	}
}

.about-text__wrapper {
    flex-basis: 49%;
    @include media-laptop{
     text-align: center;
    }
}

.about__heading {
    color: $color-primary;
    margin: 6.6rem 0 4.2rem;

    &_colored {
        color: $color-additional;
    }

    @include media-laptop {
        margin: 0 0 5.2rem;
    }

		@include media-mobile {
			margin: 0 0 1.6rem;
	}

}

.about__paragraph {
	@include font(2rem, 3rem, normal);
	color: $color-text-dark;

	@include media-laptop {
		margin: 0 0 7rem;
		text-align: start;
	}

	@include media-mobile {
		margin: 0;
		@include font(1.5rem, 2.5rem, normal);
  }

}

.about__image {
	display: inline-block;
	max-width: 46.4rem;

	@include media-laptop {
		margin: auto;
		max-width: 37%;
	}

	@include media-mobile {
		max-width: 47%;
	}
}