.about {
    padding: 9.4rem 0;
    background-color: $color-light;

    @include media-tablet {
        padding: 4rem 0 9.5rem;
    }

    @include media-mobile {
        padding: 3rem 0;
    }
}

.about-text__wrapper {
    flex-basis: 49%;
}

.about__heading {
    color: $color-primary;
    margin: 6.6rem 0 4rem;

    &_colored {
        color: $color-additional;
    }

    @include media-tablet {
        margin: 0;
    }

}

.about__paragraph {
    @include font(2rem, 3rem, normal);
}

.about__image {
    display: inline-block;
    max-width: 46.4rem;
}