.contacts {
    background-color: $color-background;
    padding-top: 5.3rem;

    @include media-tablet {
        padding-top: 4rem;
    }

    @include media-mobile {
        padding-top: 2.5rem;
    }
}

.contacts__wrapper {
    display: flex;
    gap: 11.3rem;
}

.contacts__image {
    display: inline-block;
    max-width: 40rem;
}

.contacts__heading {
    color: $color-primary;
    font-weight: bold;
    align-self: flex-start;
    margin: 0.7rem 0 3.4rem;
}

.contacts__info--wrapper {
    @include flex-column(center);
    flex-basis: 60%;
}

.city__picker {
    align-self: flex-end;
    width: 100%;
    padding-left: 37%;
}