.prices {
    background-color: $color-light;
    margin: 4rem 0 11rem;

    @include media-tablet {
        margin: 4rem 0 8.8rem;
    }

    @include media-mobile {
        margin: 2.5rem 0 4rem;
    }
}

.prices__heading {
    font-family: "Inter";
    font-weight: bold;
    margin: 0 0 5.5rem;
}

.rightside__wrapper {
    @include flex-column(flex-end);
    gap: 4rem;
}

.contact-button {
    font-family: "Inika";
}

.prices__image {
    display: inline-block;
    max-width: 16rem;
}