/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/inika-v21-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inika-v21-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-700 - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inika-v21-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inika-v21-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

/* Header styles start*/

.header {
    background-color: #EDF2EC;
    height: 134px;
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header__list {
    display: flex;
    flex-wrap: wrap;

}

.header__item {
    margin-right: 46px;

}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
}

.header__list {
    margin: 0 auto;
    list-style-type: none;
}

#home.header__link:first-child {
    color: #E06733;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}

/*
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
.header__logo {
    height: 21px;
    width: 79px;
}



.header_nav {
    height: 50px;
    width: 452px;
}



.header__link {
    margin-right: 46px;
    text-decoration: none;
    color: #010201;
}





.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.75;
}

/* Header styles end*/

/* Welcome styles START*/

/* Welcome styles END*/