/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/inika-v21-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inika-v21-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-700 - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inika-v21-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inika-v21-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

/* Header styles start*/

.header {
    background-color: #EDF2EC;
    height: 134px;
    width: 100%;
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 42px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 47px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
}

.header__list {
    margin: 0 auto;
    list-style-type: none;
}

#home.header__link {
    color: #E06733;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.75;
}

.header__logo {
    padding-bottom: 40px;
    height: 21px;
    width: 79px;
}

/* Header styles end*/

/* Welcome styles START*/

.welcome {
    background-color: #EDF2EC;
    height: 532px;
    width: 100%;
}

.welcome__wrapper {
    display: flex;
    align-items: flex-end;
    padding-top: 54px;
    margin-left: -10px;
    justify-content: space-between;
}

.welcome__image {
    width: 460px;
    height: auto;
    padding: 0;
}

.welcome__header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin: 0;
    margin-top: -38px;
}

.colortext {
    color: #499A18;
}

.welcome__description {
    width: 549px;
    height: 340px;
    margin: 0;
    margin-left: 222px;
}

.welcome__paragraph {
    margin-top: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcome__button {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 28px;
}

/* Welcome styles END*/

/* ABOUT styles START*/

.about {
    height: 666px;
    background-color: #FFFFFF;
}

.about__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 92px;
}

.text__wrapper {
    width: 605px;
    height: 350px;
    padding-top: 69px;
}

.about__header {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin: 0;
}

.orangetext {
    color: #E06733;
}

.about__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    margin: 0;
    margin-top: 38px;
}

/* ABOUT styles END*/

/* SERVICES styles START*/

.service {
    height: 1300px;
    width: 100%;
    background-color: #EDF2EC;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1007px;
    padding-top: 40px;
    margin: 0;
}

.service__headder {
    width: 306px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin: 0;
}

.button__wrapper {
    display: flex;
    margin-top: 29px;
}

.service_button {
    width: 161px;
    height: 50px;
    left: 955px;
    margin-right: 38px;
    border: 1px solid #E06733;
    border-radius: 5px;
    color: #E06733;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    padding-right: 4px;
}

.service_button:last-child {
    margin-right: 0;
}

.grid__wrapper {
    display: grid;
    width: 1222px;
    height: 955px;
    margin-top: 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 450px;
    grid-column-gap: 116px;
    grid-row-gap: 55px;
}

.service__pick--name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    padding: 0;
    margin: 0;
    margin-top: 9px;
    margin-left: -4px;
    text-align: center;
}

.service__pick--description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin: 0;
    padding: 0;
    margin-top: 14px;
    margin-left: -2px;
    text-align: center;
}

.services__gallery--image {
    border-radius: 20px 20px 0px 0px;
}

.description__wrapper {
    height: 100px;
    margin-top: -4px;
    margin-left: 1px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

/* SERVICES styles END*/

/* PRICES styles START*/

.prices {
    height: 560px;
    background-color: #FFFFFF;
    margin: 0;
}

.prices__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    /*align-items: flex-end;*/
}

.plans__wrapper {
    display: block;
    width: 332px;
    height: 391.01px;
    margin: 0;
}

.prices__headder--left {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin: 0;
}

.prices__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 332px;
    height: 282.01px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin: 0;
    margin-top: 58px;
}

.prices__options--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    background-color: #EDF2EC;
    border: none;
    border-radius: 20px;
    text-align: left;
}

.prices__options--item1 {
    margin-top: 34px;
}

.prices__options--item2 {
    margin-top: 32px;
}

.prices__options--item3 {
    margin-top: 32px;
}

.prices__name {
    margin: 0;
    margin-left: 40px;
}

.prices__button {
    margin-right: 40px;
}

/* PRICES RIGHTSIDE styles START*/

.rightside__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
}

.contact-us__wrapper {
    display: block;
    width: 452px;
    height: 191.01px;
    margin: 0;
    justify-items: end;
}

.prices__headder--right {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    width: 452px;
    height: 103px;
    margin: 0;
    margin-bottom: 40px;
}

.greentext {
    color: #499A18;
}

.contact__button {
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    color: #E06733;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-top: -5px;
    background-color: #FFFFFF;
}

.prices__image {
    width: 166px;
    height: 187px;
    margin: 0;
    margin-top: 35px;
    margin-right: -10px;
}

/* PRICES RIGHTSIDE styles END*/
/* PRICES styles END*/

/* CONTACTS styles START*/

.contacts {
    height: 550px;
    background-color: #EDF2EC;
    margin: 0;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.contacts__image {
    margin-top: 53px;
}

.contacts__headder {
    margin: 0;
    margin-left: 115px;
    margin-top: 20px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    width: 195px;
    height: 51px;
}

.city__picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    margin-top: 0px;
    margin-right: 109px;
}

.city__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    margin: 0;
    margin-left: 20px;
}

.city__button {
    width: 16px;
    height: 16px;
    margin: 0;
    margin-right: 35px;
}


/* CONTACTS styles END*/

/* FOOTTER styles START*/

.footer {
    height: 130px;
    background-color: #FFFFFF;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.copyright__wrapper {
    display: flex;
    justify-content: space-between;
}

.copyright__font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.RSS {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.links__wrapper {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

/* FOOTTER styles END*/