html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    @extend %font-main;
    @include font(1.6rem, 2rem, normal);
    /*overflow: hidden;*/
}

ul,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

h1 {
    @include font(4.5rem, 5rem, bold);
    color: $color-text-light;
}

h2 {
    @extend %font-add;
    @include font(4rem, 5.2rem, normal);
}

h3 {
    @include font(2rem, 2rem, bold);
}

h4 {
    @include font(2rem, 4rem, normal);
}

h5 {
    @include font(1.2rem, 2rem, bold);
}

ul {
    list-style: none;
}

a {
    color: $color-heading;
    text-decoration: none;
}

.header__burger {
    display: none;
}

.city__card {
    display: none;
}

.price__card {
    display: none;
}

.dropdown__list {
    display: none;
}