.dropdown {
  position: relative;
  align-self: flex-end;

  @include media-laptop {
    padding: 0;
    align-self: center;
  }

  // Button
  &__button {
    @extend %flex-between;
    background-color: $color-accordion-active;
    border: none;
    padding: $dropdown-button-padding;
    width: $dropdown-button-width;
    box-shadow: $dropdown-box-shadow;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: $color-dropdown-active;

        .icon__circle {
          background-color: $color-btn-inactive;
        }

        .icon__arrow {
          transform: rotate(180deg);
        }
      }
    }

    &:active {
      background-color: $color-dropdown-active;

      .icon__circle {
        background-color: $color-btn-inactive;
      }

      .icon__arrow {
        transform: rotate(180deg);
      }
    }

    &[aria-expanded="true"],
    &--active {
      background-color: $color-dropdown-active;
      box-shadow: none;

      .icon__circle {
        background-color: $color-btn-inactive;
      }

      .icon__arrow {
        transform: rotate(180deg);
      }
    }

    @include media-tablet {
      width: $dropdown-button-mobile-width;
    }

    @include media-mobile {
      padding: $dropdown-button-mobile-padding;
      margin: 0 auto;
    }

    &-city {
      @include font(2rem, 4rem, 400);
      letter-spacing: 0.1rem;
      color: $color-gray-medium;
    }
  }

  // Dropdown list
  &__list {
    display: none;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    list-style-type: none;
    flex-direction: column;
    gap: $dropdown-list-gap;
    background-color: $color-dropdown;
    padding: $dropdown-list-padding;

    &:not([hidden]) {
      display: flex;
    }

    &-item {
      @include font(1.6rem, 4rem, 400);
      color: $color-green-primary;
      border-bottom: 1px solid $color-accordion-btn-inactive;
      letter-spacing: 1px;
      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          color: $color-gray-medium;
          border-bottom: 1px solid $color-gray-medium;
        }
      }

      &:active {
        color: $color-gray-medium;
        border-bottom: 1px solid $color-gray-medium;
      }
    }
  }

  &__city-card {
    display: block;
    list-style-type: none;
    @include font(1.6rem, 4rem, 400);
    letter-spacing: 1px;
    color: $color-black;
    background-color: $color-background-light;
    padding: $city-card-padding;
    border: 1px solid $color-black;
    border-radius: $city-card-border-radius;
    margin-top: $city-card-margin-top;

    &:not([hidden]) {
      display: block;
    }

    &[hidden] {
      display: none;
    }

    &-container {
      display: flex;
      align-items: flex-start;
      width: 100%;
      background-color: $color-accordion;
    }

    &-list {
      &--left {
        margin-right: 1rem;

        @include media-tablet {
          margin-right: 0;
          flex-basis: 30%;
        }
      }

      &--right {
        color: $color-gray-medium;
      }

      @include media-tablet {
        &:last-child {
          line-height: 2rem;
          letter-spacing: 0;
        }
      }
    }

    &-call {
      display: block;
      width: $contacts-button-width;
      height: $contacts-button-height;
      padding: $contacts-button-padding;
      color: $color-gray-medium;
      margin: $city-card-button-margin-top auto 0;
      text-align: center;
      border: 1px solid $color-orange-accent;
      border-radius: $city-card-button-border-radius;
      font-family: $font-family-secondary;
      @include font(1rem, 1.3rem, 700);
      background-color: $color-background-light;
      transition: all 0.3s ease-in-out;

      @media (hover: hover) {
        &:hover {
          box-shadow: $color-gray-medium 0.1rem 0.1rem 0.5rem;
          background-color: $color-accordion-active;
        }
      }

      &:active {
        box-shadow: $color-gray-medium 0.1rem 0.1rem 0.5rem;
        background-color: $color-accordion-active;
      }
    }

    @include media-tablet {
      padding: $city-card-tablet-padding;
      margin-top: $city-card-tablet-margin-top;
    }

    @include media-mobile {
      width: 30rem;
    }
  }
}
