// Menu styles
.menu {
  @extend %flex-between;
  @include font($font-size-base, $line-height-nav, $font-weight-normal);
  gap: $nav-link-gap;
  list-style: none;
  font-family: "Inika";
  margin: 0;

  @include media-tablet {
    @include flex-column(center);
    gap: $nav-link-gap-tablet;
  }

  &__link {
    color: $color-dark-green;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    @media (hover: hover) {
      &:hover {
        color: $color-orange-accent;
        font-weight: $font-weight-bold;
      }
    }

    &:active {
      color: $color-orange-accent;
      font-weight: $font-weight-bold;
    }

    @include media-tablet {
      @include font(
        $font-size-nav-tablet,
        $line-height-nav-tablet,
        $font-weight-normal
      );
    }
  }
}
