// Desktop menu styles
.header__list {
  @include flex-between();
  @include font($font-size-base, $line-height-nav, $font-weight-normal);
  gap: $nav-link-gap;
  list-style: none;
  font-family: "Inika";
  margin: 0;
  @include media-tablet {
    @include flex-column(center);
    gap: $nav-link-gap-tablet;
  }
}

// Navigation links
.header__link {
  color: $color-dark-green;
  text-decoration: none;
  @extend %transition;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $color-orange-accent;
    font-weight: $font-weight-bold;
  }

  @include media-tablet {
    @include font(
      $font-size-nav-tablet,
      $line-height-nav-tablet,
      $font-weight-normal
    );
  }
}

.header__nav {
  @include media-tablet {
    position: fixed;
    top: 0;
    right: 0;
    width: $nav-tablet-width;
    height: 100%;
    background-color: $color-light;
    z-index: 5;
    padding-top: $nav-padding-top;
    transform: translateX(100%);
    transition: all 0.8s;
  }

  &--active {
    transform: translateX(0);
  }
}

// Overlay for mobile menu
.header__overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-gray-medium;

  &--active {
    visibility: visible;
    opacity: $overlay-opacity;
    transition-delay: 0s;
  }
}

// Class for body to prevent scrolling when mobile menu is open
.hidden {
  overflow: hidden;
  position: fixed;
}
