.header__list {
  @include flex-between();
  @include font(1.6rem, 5rem, normal);
  gap: 4.723rem;
  list-style: none;
  font-family: 'Inika';
  margin: 0;
  @include media-tablet{
    @include flex-column(center);
    gap: 1rem;
  }
}

.header__link {
  color: $color-links-nav;
  text-decoration: none;
  @extend %transition;

  &:hover {
    color: $color-additional;
    font-weight: bold;
  }

  @include media-tablet{
    @include font(2.5rem, 3rem, normal);
  }
}

.header__nav {
  @include media-tablet {
    position: fixed;
    top: 0;
    right: 0;
    width: 32rem;
    height: 100%;
    background-color: $color-light;
    z-index: 5;
    padding-top: 15rem;    
    transform: translateX(100%);
    transition: all 0.8s;
  }

  &--active{
    transform: translateX(0);
  }
}

.header__overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-text-light;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s;

  &--active{
    visibility:visible;
    opacity: 0.3;
    transition-delay: 0s;  
  }
}

.hidden{
  overflow: hidden;
}


