.footer {
    background-color: $color-light;
    padding: 4rem 0;

    @include media-tablet {
        padding: 3.3rem 28rem 1.8rem;
    }

    @include media-mobile {
        padding: 2.2rem 8.2rem 0.7rem;
    }
}

.footer__wrapper {
    align-items: center;
}

.copyright__wrapper {
    @include flex-between();
    justify-content: flex-start;
    gap: 2rem;
}

.RSS {
    display: inline-flex;
    justify-content: center;
    margin: 0;
    @include font(2rem, 5rem, normal);
}

.links__wrapper {
    @include flex-between();
    justify-content: flex-end;
    gap: 2.4rem;
}

.copyright__font {
    @include font(2rem, 5rem, normal);
}