.wrapper {
    max-width: $content-width;
    margin: auto;
    padding: 0 11rem;
    
    @include media-laptop {
        padding: 0 5rem;
    }

    @include media-tablet {
        padding: 0 2.5rem;
    }

}