.header__list {
    @include flex-between();
    @include font(1.6rem, 5rem, normal);
    width: 46rem;
    // gap: 4.7rem;
    list-style: none;
    font-family: 'Inika';
    margin: 0;
}

.header__link {
    color: $color-links-nav;
    text-decoration: none;
    @extend %transition;

    &:hover {
        color: $color-additional;
        font-weight: bold;
    }
}

.header__nav {
    @include media-mobile {
        display: none;
    }
}