.welcome {
    background-color: $color-background;
    padding: 6.2rem 0;

    @include media-tablet {
        padding: 4rem 0;
    }

    @include media-mobile {
        padding: 2.4rem 0;
    }
}

.welcome__wrapper {
    @include media-tablet {
        flex-direction: row-reverse;
        align-items: flex-start;
    }
}

.welcome__image {
    display: inline-block;
    max-width: 36.5%;
}

.welcome__heading {
    margin: 3.6rem 0 4.5rem;

    &_colored {
        color: $color-primary;
    }

    @include media-tablet {
        margin: 0;
    }
}

.welcome__paragraph {
    @include font(2rem, 3.5rem, normal);
    margin: 0 0 4.7rem;

    @include media-tablet {
        @include font(1.6rem, 2.5rem, normal);
    }
}