.footer {
  background-color: $color-light;
  padding: $footer-desktop-padding;

  @include media-laptop {
    padding: $footer-laptop-padding;
  }

  @include media-mobile {
    padding: $footer-mobile-padding;
  }

  &__container {
    @include flex-between();
    flex-wrap: nowrap;
  }

  &__copyright {
    display: flex;
    align-items: center;
    gap: $copyright-gap-desktop;
    flex-wrap: nowrap;

    &-text {
      @include font(2rem, 5rem, normal);
      @media screen and (max-width: $footer-tablet-breakpoint) {
        @include font(2rem, 2.6rem, normal);
      }
    }

    &-link {
      display: flex;
      align-items: center;
      white-space: nowrap;

      @media screen and (max-width: $tablet-width) {
        font-size: 0;
      }
    }

    &-icon {
      height: $copyright-icon-height-desktop;
      width: auto;
      vertical-align: middle;
      margin-right: $copyright-icon-margin;

      @media screen and (max-width: $tablet-width) {
        margin-right: 0;
      }
    }
  }

  &__links {
    @include flex-between();
    justify-content: flex-end;
    gap: $links-gap-desktop;
    @media screen and (max-width: $footer-tablet-breakpoint) {
      gap: $links-gap-tablet;
    }
    @include media-mobile {
      margin-top: 0;
      gap: $links-gap-mobile;
    }
    &-item img {
      @include media-mobile {
        width: auto;
        height: $copyright-icon-height-mobile;
      }
    }
  }
}
