.footer {
  background-color: $color-light;
  padding: $footer-desktop-padding;

  @include media-laptop {
    padding: $footer-laptop-padding;
  }

  @include media-mobile {
    padding: $footer-mobile-padding;
  }

  // Main container
  &__container {
    @extend %flex-between;
    flex-wrap: nowrap;
  }

  // Copyright section
  &__copyright {
    display: flex;
    align-items: center;
    gap: $copyright-gap-desktop;
    flex-wrap: nowrap;

    &-text {
      @include font(2rem, 5rem, normal);

      @include media-tablet {
        @include font(2rem, 2.6rem, normal);
      }
    }

    &-link {
      display: flex;
      align-items: center;
      white-space: nowrap;
      transition: all 0.3s ease-in-out;

      @media (hover: hover) {
        &:hover {
          opacity: 0.7;
        }
      }

      &:active {
        opacity: 0.7;
      }

      @include media-tablet {
        font-size: 0;
      }
    }

    &-icon {
      height: $copyright-icon-height-desktop;
      width: auto;
      vertical-align: middle;
      margin-right: $copyright-icon-margin;

      @include media-tablet {
        margin-right: 0;
      }
    }
  }

  // Social links
  &__links {
    @extend %flex-between;
    justify-content: flex-end;
    gap: $links-gap-desktop;

    @include media-tablet {
      gap: $links-gap-tablet;
    }

    @include media-mobile {
      gap: $links-gap-mobile;
    }

    &-item img {
      transition: all 0.3s ease-in-out;

      @media (hover: hover) {
        &:hover {
          opacity: 0.7;
        }
      }

      &:active {
        opacity: 0.7;
      }

      @include media-mobile {
        width: auto;
        height: $copyright-icon-height-mobile;
      }
    }
  }
}
