.header {
  background-color: $color-background;
  padding: 4.2rem 0;

  @include media-laptop {
    padding: 3.6rem 0;
  }
}

.header__wrapper {
  @include flex-between();
}

.header__logo {
  display: flex;
  align-items: center;
  margin-bottom: 0.45rem;

  @include media-mobile {
    margin: 0;
  }
}
