.header {
  background-color: $color-background-light;
  padding: $header-padding-desktop 0;
  transition: padding 0.3s ease;

  @include media-laptop {
    padding: $header-padding-laptop 0;
  }

  &__overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-gray-medium;

    &--active {
      visibility: visible;
      opacity: $overlay-opacity;
      transition-delay: 0s;
    }
  }

  &__container {
    @extend %flex-between;
  }

  &__nav {
    @include media-tablet {
      position: fixed;
      top: 0;
      right: 0;
      width: $nav-tablet-width;
      height: 100%;
      background-color: $color-light;
      z-index: 5;
      padding-top: $nav-padding-top;
      transform: translateX(100%);
      transition: all 0.8s;
    }

    &--active {
      transform: translateX(0);
    }
  }
}

// Class for body to prevent scrolling when mobile menu is open
.hidden {
  overflow: hidden;
  position: fixed;
}
