.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: $wrapper-padding-desktop;

  @include media-laptop {
    padding: $wrapper-padding-laptop;
  }

  @include media-tablet {
    padding: $wrapper-padding-tablet;
  }
}
